:root {
  font-family: "Consolas", monospace;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  outline: none;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html, body {
  margin: 0;
  overscroll-behavior: none; 
}

.container {
  margin: 0;
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

button, input {
  color: #0f0f0f;
  background-color: #fefefe;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
}
button {
  padding: 0.3em 1.2em;
}

button:hover {
  background-color: #d3d3d3;
}

#input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

input{
  width: 90%;
  box-sizing: border-box;
  outline: none;
  padding: 0.6em 1.2em;
}

nav {
  display: flex;
  gap: 0;
  background-color: #fefefe;
  margin-bottom: 0.5em;
}

.autocomplete-list {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  align-items: center;
  border-top: none;
}

.autocomplete-item {
  width: 90%;
  padding: 8px;
  cursor: pointer;
  background-color: #fefefe;
  border-top: 1px solid #ccc;
}

.autocomplete-item.selected {
  background-color: #d3d3d3;
}

.character-span {
  font: "Symbola", sans-serif;
  margin: 0 0.2em;
}