:root {
  --bg-color: #ffffff;
  --text-color: #0f0f0f;
  --primary-color: #007bff;
  --border-color: #ddd;
  --input-border-color: #ccc;
  --secondary-color: #6c757d;
  --item-hover-color: #e5e5e5;
  --item-selected-color: #d3d3d3;
  --toolbar-bg-color: #fefefe;
  --input-bg-color: #fefefe;
}

[color-theme="dark"] {
  --bg-color: #1a1a1a;
  --text-color: #e1e1e1;
  --primary-color: #64b5f6;
  --border-color: #2f2f2f;
  --input-border-color: #3d3d3d;
  --secondary-color: #a0a0a0;
  --item-hover-color: #2a2a2a;
  --item-selected-color: #333333;
  --toolbar-bg-color: #242424;
  --input-bg-color: #242424;
}

:root {
  font-family: system-ui, -apple-system, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;

  color: var(--text-color);
  background-color: color-mix(in srgb, var(--bg-color), transparent 50%);
  border: none;
  outline: none;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html,
body {
  margin: 0;
  overscroll-behavior: none;
}

body {

  transition: background-color 0.2s ease, color 0.2s ease;
}

.container {
  margin: 0;
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

button,
input {
  color: var(--text-color);
  background-color: var(--input-bg-color);
  border: none;
  font-size: 1em;
  font-family: inherit;
}

button {
  font-family: inherit;
  padding: 0.3em 1.2em;
}

button:hover {
  background-color: var(--item-hover-color);
}

#inputContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

input {
  font-size: 16px;
  font-family: "Consolas", monospace;
  width: 90%;
  box-sizing: border-box;
  outline: none;
  font-weight: 500;
  padding: 0.8em 1.2em;
}

nav {
  display: grid;
  grid-template-columns: auto auto auto auto;
  column-gap: 0;
  background-color: var(--toolbar-bg-color);
  margin-bottom: 1em;
}

.autocomplete-list {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  align-items: center;
  border-top: none;
}

.autocomplete-item {
  font-family: "Consolas", monospace;
  font-size: 16px;
  box-sizing: border-box;
  width: 92%;
  padding: 8px;
  cursor: pointer;
  background-color: var(--input-bg-color);
  border-top: 1px solid var(--border-color);
}

.autocomplete-item:hover {
  background-color: var(--item-hover-color);
}

.autocomplete-item.selected {
  background-color: var(--item-selected-color);
}

.character-span {
  font-family: "Noto Sans Symbols", sans-serif;
  margin: 0 0.2em;
}

.toolbarbtn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8em;
  padding-left: 1em;
  padding-right: 1em;
  font-weight: 100;
  font-size: 0.9em;
  color: var(--text-color);
}

.toolbarbtn>svg {
  height: 90%;
  fill: var(--secondary-color);
}